langchain
openai==0.28
pdfminer.six
tiktoken

python-dotenv
pandoc
fastapi 
uvicorn
mangum
langchain
langchain-community
cohere==5.5.8
langchain-cohere
langchain-pinecone
pinecone-client
groq==0.9.0
google-generativeai==0.7.1